<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Linda's blog about coding and probably more likely cats" />

    <link rel="stylesheet" type="text/css" media="screen" href="../../../stylesheets/stylesheet.css">

  <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <h2>{{ page.title }}</h2>

        <p>{{ page.content }}</p>

      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}

  </body>
</html>
